#quote {
    font-style: italic;
}

.overlay {
    background: rgba(76,79,72,0);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.header {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/bernal-heights-6-12-26.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.icon-row {
    padding-top:10px;
    padding-right:2%;
}


.icon {
    color: black;
    padding: 9px;
}

.icon:hover {
    color: gray;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Indie Flower",Helvetica,Arial,sans-serif;
}

.name {
    color: black;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    padding-right: 10%;
    padding-bottom: 15%;
}

.name h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    font-weight: 400;
}

#byline {
    font-size:1.5em;
}

.info {
    position: relative;
    z-index: 3;
}